/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-gl0tguxalk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-gl0tguxalk] {
    flex: 1;
}

.sidebar[b-gl0tguxalk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-gl0tguxalk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-gl0tguxalk]  a, .top-row[b-gl0tguxalk]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-gl0tguxalk]  a:hover, .top-row[b-gl0tguxalk]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-gl0tguxalk]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-gl0tguxalk] {
        justify-content: space-between;
    }

    .top-row[b-gl0tguxalk]  a, .top-row[b-gl0tguxalk]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gl0tguxalk] {
        flex-direction: row;
    }

    .sidebar[b-gl0tguxalk] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gl0tguxalk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-gl0tguxalk]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-gl0tguxalk], article[b-gl0tguxalk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar[b-qllaoogv63] {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-link[b-qllaoogv63] {
    color: #4a5568;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link:hover[b-qllaoogv63] {
    background-color: rgba(0, 123, 255, 0.1);
    color: #007bff;
}

.dropdown-content[b-qllaoogv63] {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content .menu-item[b-qllaoogv63] {
    padding: 10px;
    color: #333;
}

.dropdown-content .menu-item:hover[b-qllaoogv63] {
    background-color: rgba(0, 123, 255, 0.1);
}

.avatar[b-qllaoogv63] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.badge[b-qllaoogv63] {
    background-color: #007bff;
    color: white;
    border-radius: 12px;
    padding: 2px 6px;
}
/* /Pages/CreateStory.razor.rz.scp.css */
@media (max-width: 768px) {
    .form-container[b-ixjq009kzp] {
        grid-template-columns: 1fr; /* Tek sütunlu düzen */
    }
}
@media (max-width: 768px) {
    .story-container[b-ixjq009kzp] {
        max-height: 400px; /* Daha fazla yükseklik ver */
        padding: 10px; /* İçerik kenarlarını daralt */
        font-size: 14px; /* Daha küçük yazı tipi kullan */
    }
}
button[b-ixjq009kzp] {
    position: relative;
    padding: 13px 35px;
    background: #00B7EB;
    font-size: 17px;
    font-weight: 900;
    color: #F8BECB;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0;
    transition: all .3s ease-in-out;
}

.icon-1[b-ixjq009kzp] {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -1;
}

.icon-2[b-ixjq009kzp] {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
}

.icon-3[b-ixjq009kzp] {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
}

.icon-4[b-ixjq009kzp] {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
}

.icon-5[b-ixjq009kzp] {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
}

button:hover[b-ixjq009kzp] {
    padding: 13px 25px;
    border-radius: 8px 8px 24px 24px;
}

button:hover .icon-1[b-ixjq009kzp] {
    top: -250%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: auto;
    animation: inIcon1-b-ixjq009kzp 1s ease .45s forwards;
}

@keyframes inIcon1-b-ixjq009kzp {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    25% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(5deg);
    }

    50% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(1deg);
    }

    65% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(3deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-2[b-ixjq009kzp] {
    position: absolute;
    top: -200%;
    left: 90%;
    transform: translate(-50%, 0);
    width: 75px;
    height: auto;
    animation: inIcon2-b-ixjq009kzp 1s ease .45s forwards;
}

@keyframes inIcon2-b-ixjq009kzp {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(10deg);
    }

    50% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(4deg);
    }

    80% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(5deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-3[b-ixjq009kzp] {
    position: absolute;
    top: -130%;
    left: 20%;
    transform: translate(-50%, 0);
    width: 60px;
    height: auto;
    animation: inIcon3-b-ixjq009kzp 1s ease .45s forwards;
}

@keyframes inIcon3-b-ixjq009kzp {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(-2deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-4[b-ixjq009kzp] {
    position: absolute;
    top: -300%;
    left: 10%;
    transform: translate(-50%, 0);
    width: 85px;
    height: auto;
    animation: inIcon4-b-ixjq009kzp 1s ease .45s forwards;
}

@keyframes inIcon4-b-ixjq009kzp {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    40% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(-3deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

button:hover .icon-5[b-ixjq009kzp] {
    position: absolute;
    top: -350%;
    left: 90%;
    transform: translate(-50%, 0);
    width: 85px;
    height: auto;
    animation: inIcon5-b-ixjq009kzp 1s ease .45s forwards;
}

@keyframes inIcon5-b-ixjq009kzp {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(-3deg);
    }

    100% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }
}

.fil-leaf-1[b-ixjq009kzp] {
    fill: #7B9B3A
}

.fil-leaf-2[b-ixjq009kzp] {
    fill: #556729;
    fill-rule: nonzero
}

.fil-leaf-3[b-ixjq009kzp] {
    fill: #556729
}

.fil-leaf-4[b-ixjq009kzp] {
    fill: #3C4819
}

.fil-leaf-5[b-ixjq009kzp] {
    fill: #3C4819
}
.icon-1[b-ixjq009kzp], .icon-2[b-ixjq009kzp], .icon-3[b-ixjq009kzp], .icon-4[b-ixjq009kzp], .icon-5[b-ixjq009kzp] {
    z-index: 100; /* En önde görünsün */
}

.story-container[b-ixjq009kzp] {
    background-color: #f0f0f0; /* Daha açık bir arka plan rengi */
    color: #333; /* Koyu yazı rengi */
    padding: 20px; /* İçerik için boşluk */
    border-radius: 8px; /* Kenarları yuvarlat */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    margin-top: 20px; /* Üstten boşluk */
    max-height: 500px; /* Alanın yüksekliğini sınırlandırın */
    min-height: 300px; /* Alanın yüksekliğini sınırlandırın */
    white-space: pre-wrap; /* Satır sonlarını korumak için */
    overflow-y: auto; /* Taşma olduğunda dikey kaydırma çubuğu ekleyin */
    width: 100%; /* Konteyner genişliğiyle sınırlayın */
    box-sizing: border-box;
}
.text-base-content[b-ixjq009kzp] {
    white-space: pre-wrap;
    font-size: 18px; /* Başlık için daha büyük yazı tipi */
}
.flex[b-ixjq009kzp] {
    border-radius: 8px;
    background-color: #f0f0f0; /* Daha açık bir arka plan rengi */
    justify-content: center;
    align-items: center;
}
.loader[b-ixjq009kzp] {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    color: #F8BECB;
  }
    .loader[b-ixjq009kzp]:before,
    .loader[b-ixjq009kzp]:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin-b-ixjq009kzp linear infinite;
    }
    .loader[b-ixjq009kzp]:after {
      color: #00B7EB;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate-b-ixjq009kzp {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw-b-ixjq009kzp {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin-b-ixjq009kzp {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
/* /Pages/Home.razor.rz.scp.css */
.my-clickable-button[b-sxq5zxjb5w] {
    cursor: pointer;
}
/* /Pages/Stories.razor.rz.scp.css */
.my-clickable-button[b-qstf0g498d] {
    cursor: pointer;
}
.relative[b-qstf0g498d] {
    position: relative;
}

.overflow-hidden[b-qstf0g498d] {
    overflow: hidden;
}

.flex[b-qstf0g498d] {
    display: flex;
}

.transition-transform[b-qstf0g498d] {
    transition: transform 0.3s ease;
}
.pagination[b-qstf0g498d] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination button[b-qstf0g498d] {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button:disabled[b-qstf0g498d] {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination button:hover:not(:disabled)[b-qstf0g498d] {
    background-color: #d0d0d0;
}
.button-right[b-qstf0g498d] {
    float: right;
}
